extends layout

block content
  h1= title
  p Welcome to #{title}
  .row 
    .col-sm-1 
    .col-sm-4 
      include include/login
    .col-sm-2 
    .col-sm-4 
      include include/registration
    .col-sm-1
